# Intraduction

Welcome to Data science
1. Learn Jupyter Notebook platform
2. Learn Python
3. Practice labs

# Basic Commands

Shift+ Enter run
Esc Go out of cell
a , creates a cell above,
b, create a cell below
Enter , enters the cell
shift tab , code completion
c - Copy cell
v - Paste cell below
y - Change cell type to code
dd - Delete a cell

In [1]:
print ("Welcome to Data Science")

Welcome to Data Science

Shift+ Enter run
Esc Go out of cell
a , creates a cell above,
b, create a cell below
Enter , enters the cell
shift tab , code completion
c - Copy cell
v - Paste cell below
y - Change cell type to code
dd - Delete a cell

# Heading 1
## Heading 1
### Heading 3

In [2]:

%time print('Hello World')

Hello World
Wall time: 0 ns

In [1]:
%timeit L = [n ** 2 for n in range(1000)]

312 µs ± 8.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Looping

In [48]:
# For statement
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers :
    print (number);
print ("Number of records ", numbers);

1
2
3
4
5
6
7
8
9
10
Number of records  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
# For statement with range
numbers = []
for i in range(0, 20):
    print (f"Adding value {i} to element list");
    numbers.append(i);
print (numbers);
# reverse numbers
numbers.reverse();
print (numbers);

Adding value 0 to element list
Adding value 1 to element list
Adding value 2 to element list
Adding value 3 to element list
Adding value 4 to element list
Adding value 5 to element list
Adding value 6 to element list
Adding value 7 to element list
Adding value 8 to element list
Adding value 9 to element list
Adding value 10 to element list
Adding value 11 to element list
Adding value 12 to element list
Adding value 13 to element list
Adding value 14 to element list
Adding value 15 to element list
Adding value 16 to element list
Adding value 17 to element list
Adding value 18 to element list
Adding value 19 to element list
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [64]:
# While statement 
i = 0
numbers = []
while (i <=100):
    print (f"Adding value {i} to number element")
    numbers.append(i)
    i+=5;
print (numbers)

Adding value 0 to number element
Adding value 5 to number element
Adding value 10 to number element
Adding value 15 to number element
Adding value 20 to number element
Adding value 25 to number element
Adding value 30 to number element
Adding value 35 to number element
Adding value 40 to number element
Adding value 45 to number element
Adding value 50 to number element
Adding value 55 to number element
Adding value 60 to number element
Adding value 65 to number element
Adding value 70 to number element
Adding value 75 to number element
Adding value 80 to number element
Adding value 85 to number element
Adding value 90 to number element
Adding value 95 to number element
Adding value 100 to number element
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [65]:
# forloop with lenth
friends = ['Kashi','Malik','Manju','Kallesh','Prakash']
for i in range (0, len(friends)):
    print (i, friends[i])

0 Kashi
1 Malik
2 Manju
3 Kallesh
4 Prakash

In [66]:
friends.sort()
for i in range (0, len(friends)):
    print (i, friends[i])

0 Kallesh
1 Kashi
2 Malik
3 Manju
4 Prakash

In [71]:
for i in range (0,-1, len(friends)):
     print (i, friends[i])

In [72]:
# While loop
count =0
while True :
    print (count)
    count+=1
    if (count > 11):
        break

0
1
2
3
4
5
6
7
8
9
10
11